{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Flametongue Deactivation Manager",
  "description": "Allows you to deactivate your Flametongue weapon.",
  "subevent_filters": {
    "get_events": {
      "conditions": [
        {
          "condition": "origin_item_has_tag",
          "origin_item": "effect",
          "tag": "flametongue"
        }
      ],
      "functions": [
        {
          "function": "add_event",
          "event": "std:flametongue_command_word_deactivate"
        }
      ]
    }
  }
}
