{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Skill Proficiency (Intimidation)",
  "description": "You have proficiency in skill checks made using Intimidation.",
  "subevent_filters": { }
}
