{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "All 20's Object",
  "ability_scores": {
    "str": 20,
    "dex": 20,
    "con": 20,
    "int": 20,
    "wis": 20,
    "cha": 20
  },
  "health_data": {
    "hit_dice": [
      { "size": 10, "spent": false }
    ],
    "base": 100,
    "max": 100,
    "current": 100,
    "temporary": 0
  },
  "proficiency_bonus": 2
}