{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Goblin",
  "ability_scores": [
    8, 14, 10, 10, 8, 8
  ],
  "health_data": {
    "hit_dice": [
      { "size": 6, "spent": false },
      { "size": 6, "spent": false }
    ],
    "base": 7,
    "max": 7,
    "current": 7,
    "temporary": 0
  },
  "items": {
    "armor": "test:leather_armor",
    "mainhand": "test:scimitar",
    "offhand": "test:shield",
    "inventory": [
      "test:shortbow"
    ]
  },
  "effects": [
    "test:goblin_features"
  ],
  "size": "Small",
  "creature_type": "Humanoid",
  "creature_subtype": "Goblinoid",
  "alignment": "Neutral Evil"
}