{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Dummy Item",
  "id": "dummy:dummy",
  "proficiency_tags": [
    "dagger",
    "simple",
    "melee"
  ],
  "weight": 1,
  "while_equipped": [
    "dummy:dummy",
    "dummy:dummy"
  ]
}