{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Dummy Item",
  "id": "dummy:dummy",
  "proficiency_tags": [
    "simple",
    "melee"
  ],
  "weight": 1,
  "while_equipped": [
    "dummy:dummy",
    "dummy:dummy"
  ],
  "damage": {
    "melee": [
      {
        "type": "bludgeoning",
        "dice": [
          {
            "size": 4,
            "determined": 1
          }
        ],
        "bonus": 0
      }
    ],
    "thrown": [
      {
        "type": "bludgeoning",
        "dice": [
          {
            "size": 4,
            "determined": 1
          }
        ],
        "bonus": 0
      }
    ]
  }
}