{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Loop Detection Chain 1",
  "description": "This effect is designed to create a condition loop for testing purposes.",
  "subevent_filters": {
    "calculate_ability_score": {
      "conditions": [
        {
          "condition": "check_ability",
          "ability": "str"
        },
        {
          "condition": "object_ability_score_comparison",
          "object": {
            "from": "subevent",
            "object": "source"
          },
          "ability": "dex",
          "comparison": "=",
          "compare_to": 18
        }
      ],
      "functions": [
        {
          "function": "set_base",
          "base": {
            "base_formula": "number",
            "value": 18
          }
        }
      ]
    }
  }
}
