{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Dodging",
  "hidden": false,
  "behavior": [
    {
      "conditions": [
        {
          "condition": "match_subevent",
          "subevent": "attack_roll",
          "target": "target"
        }
      ],
      "functions": [
        {
          "function": "disadvantage"
        }
      ]
    },
    {
      "conditions": [
        {
          "condition": "match_subevent",
          "subevent": "saving_throw",
          "ability": "dexterity",
          "target": "target"
        }
      ],
      "functions": [
        {
          "function": "advantage"
        }
      ]
    }
  ]
}