{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Young Red Dragon Breath Charge",
  "description": "This resource allows Young Red Dragons to use their breath weapon attack.",
  "tags": [
    "young_red_dragon_breath_charge"
  ],
  "refresh_criterion": [
    {
      "subevent": "info_subevent",
      "tags": [
        "start_turn"
      ],
      "chance": 33,
      "required_generator": {
        "dice": [ ],
        "bonus": 1
      }
    }
  ]
}
