{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Knight",
  "description": "A knight.",
  "tags": [
    "humanoid"
  ],
  "ability_scores": {
    "str": 16,
    "dex": 11,
    "con": 14,
    "int": 11,
    "wis": 11,
    "cha": 15
  },
  "health_data": {
    "hit_dice": [
      { "count": 8, "size": 8, "determined": [ 4 ] }
    ],
    "base": 52,
    "maximum": 52,
    "current": 52,
    "temporary": 0
  },
  "equipped_items": {
    "mainhand": "demo:longsword",
    "offhand": "demo:metal_shield",
    "armor": "demo:plate_armor"
  },
  "inventory": [
    "demo:heavy_crossbow"
  ],
  "events": [
    "demo:weapon_attack_mainhand_melee"
  ],
  "effects": [

  ],
  "proficiency_bonus": 2
}
