{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Kobold",
  "ability_scores": {
    "str": 7,
    "dex": 15,
    "con": 9,
    "int": 8,
    "wis": 7,
    "cha": 8
  },
  "health_data": {
    "hit_dice": [
      { "size": 6, "spent": false },
      { "size": 6, "spent": false }
    ],
    "base": 5,
    "max": 5,
    "current": 5,
    "temporary": 0
  },
  "proficiency_bonus": 2,
  "effects": [ ],
  "items": {
    "hand_1": "demo:dagger",
    "hand_2": "demo:sling",
    "inventory": [ ]
  }
}