{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Young Red Dragon",
  "ability_scores": {
    "str": 23,
    "dex": 10,
    "con": 21,
    "int": 14,
    "wis": 11,
    "cha": 19
  },
  "health_data": {
    "hit_dice": [
      { "size": 10, "spent": false },
      { "size": 10, "spent": false },
      { "size": 10, "spent": false },
      { "size": 10, "spent": false },
      { "size": 10, "spent": false },
      { "size": 10, "spent": false },
      { "size": 10, "spent": false },
      { "size": 10, "spent": false },
      { "size": 10, "spent": false },
      { "size": 10, "spent": false },
      { "size": 10, "spent": false },
      { "size": 10, "spent": false },
      { "size": 10, "spent": false },
      { "size": 10, "spent": false },
      { "size": 10, "spent": false },
      { "size": 10, "spent": false },
      { "size": 10, "spent": false }
    ],
    "base": 178,
    "max": 178,
    "current": 178,
    "temporary": 0
  },
  "events": [
    "demo:young_red_dragon_breath",
    "demo:young_red_dragon_claw_attack",
    "demo:young_red_dragon_bite_attack"
  ],
  "proficiency_bonus": 4
}