{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Dummy Event",
  "area_of_effect": {
    "type": "self"
  },
  "subevents": [
    {
      "subevent": "attack_roll",
      "hit": [ ],
      "miss": [ ]
    }
  ]
}