{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Frostbrand",
  "description": "A legendary scimitar wielded by Drizzt Do'Urden.",
  "tags": [
    "scimitar",
    "metal",
    "magic",
    "martial_melee",
    "finesse"
  ],
  "weight": 3,
  "cost": 10000,
  "events": {
    "multiple_hands": [
      "std_items:frostbrand_melee",
      "std_items:frostbrand_melee_finesse",
      "std_items:improvised_thrown"
    ],
    "one_hand": [
      "std_items:frostbrand_melee",
      "std_items:frostbrand_melee_finesse",
      "std_items:improvised_thrown"
    ],
    "special": [ ]
  },
  "equipped_effects": [
    "std_effects:cold_resistance",
    "std_effects:fire_resistance"
  ],
  "attack_bonus": 3,
  "damage_bonus": 3
}
