{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Heavy Crossbow",
  "description": "A heavy crossbow.",
  "tags": [
    "heavy_crossbow",
    "heavy",
    "martial_ranged",
    "two_handed"
  ],
  "weight": 18,
  "cost": 50,
  "events": {
    "multiple_hands": [
      "std_items:heavy_crossbow_ranged"
    ],
    "one_hand": [
      "std_items:improvised_melee",
      "std_items:improvised_thrown"
    ],
    "special": [ ]
  },
  "equipped_effects": [ ],
  "attack_bonus": 0,
  "damage_bonus": 0
}
