{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Longsword",
  "description": "A longsword.",
  "tags": [
    "longsword",
    "metal",
    "martial_melee",
    "versatile"
  ],
  "weight": 3,
  "cost": 15,
  "events": {
    "multiple_hands": [
      "std_items:longsword_melee_versatile",
      "std_items:improvised_thrown"
    ],
    "one_hand": [
      "std_items:longsword_melee",
      "std_items:improvised_thrown"
    ],
    "special": [ ]
  },
  "equipped_effects": [ ],
  "attack_bonus": 0,
  "damage_bonus": 0
}
