{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Young Red Dragon",
  "description": "A young red dragon.",
  "tags": [
    "dragon"
  ],
  "ability_scores": {
    "str": 23,
    "dex": 10,
    "con": 21,
    "int": 14,
    "wis": 11,
    "cha": 19
  },
  "health_data": {
    "hit_dice": [
      { "count": 17, "size": 10, "determined": [ 5 ] }
    ],
    "base": 93,
    "current": 178,
    "temporary": 0
  },
  "equipped_items": { },
  "inventory": [ ],
  "events": [
    "std:object/dragon/red/young/breath"
  ],
  "effects": [
    "std:common/damage/immunity/fire"
  ],
  "resources": [
    {
      "resource": "std:common/action",
      "count": 1,
      "potency": 1
    },
    {
      "resource": "std:object/dragon/red/young/breath_charge",
      "count": 1,
      "potency": 1
    }
  ],
  "proficiency_bonus": 4
}
