{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Chain Mail",
  "tags": [
    "armor",
    "heavy_armor",
    "chain_mail"
  ],
  "proficiency_tags": [
    "armor",
    "heavy_armor",
    "chain_mail"
  ],
  "weight": 55,
  "while_equipped": [ ],
  "base_armor_class": 16,
  "dex_bonus_max": 0,
  "cost": "75g"
}