{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Chain Shirt",
  "tags": [
    "armor",
    "medium_armor",
    "chain_shirt",
    "metal"
  ],
  "proficiency_tags": [
    "armor",
    "medium_armor",
    "chain_shirt"
  ],
  "weight": 20,
  "while_equipped": [ ],
  "base_armor_class": 13,
  "dex_bonus_max": 2,
  "cost": "50g"
}