{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Claw (Natural Weapon)",
  "weapon_properties": [
    "finesse",
    "natural"
  ],
  "while_equipped": [ ],
  "damage": {
    "melee": [
      {
        "type": "slashing",
        "dice": [
          {
            "size": 10,
            "determined": 5
          }
        ],
        "bonus": 0
      }
    ]
  },
  "attack_bonus": 0
}