{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Greatsword",
  "description": "A greatsword.",
  "tags": [
    "metal",
    "weapon"
  ],
  "weight": 6,
  "cost": 50,
  "proficiency_tags": [
    "martial_melee",
    "greatsword"
  ],
  "while_equipped": [

  ],
  "weapon_properties": [
    "melee",
    "heavy",
    "two_handed"
  ],
  "damage": {
    "melee": [
      {
        "type": "slashing",
        "dice": [
          { "count": 2, "determined": 3, "size": 6 }
        ],
        "bonus": 0
      }
    ]
  },
  "attack_bonus": 0
}