{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Heavy Crossbow",
  "description": "A heavy crossbow.",
  "tags": [
    "weapon"
  ],
  "weight": 18,
  "cost": 50,
  "proficiency_tags": [
    "martial_ranged",
    "heavy_crossbow"
  ],
  "while_equipped": [

  ],
  "weapon_properties": [
    "ammunition",
    "heavy",
    "loading",
    "ranged",
    "two_handed"
  ],
  "range": {
    "normal": 100,
    "long": 400
  },
  "damage": {
    "ranged": [
      {
        "type": "piercing",
        "dice": [
          { "count": 1, "size": 10, "determined": [ 5 ] }
        ],
        "bonus": 0
      }
    ]
  },
  "attack_bonus": 0
}