{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Leather Armor",
  "tags": [
    "armor",
    "light_armor",
    "leather_armor"
  ],
  "proficiency_tags": [
    "armor",
    "light_armor",
    "leather_armor"
  ],
  "weight": 10,
  "while_equipped": [ ],
  "base_armor_class": 11,
  "cost": "10g"
}