{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Longsword",
  "description": "A longsword.",
  "tags": [
    "metal",
    "weapon"
  ],
  "weight": 3,
  "cost": 15,
  "proficiency_tags": [
    "martial_melee",
    "longsword"
  ],
  "while_equipped": [

  ],
  "weapon_properties": [
    "melee",
    "versatile"
  ],
  "damage": {
    "melee": [
      {
        "type": "slashing",
        "dice": [
          { "count": 1, "size": 8, "determined": [ 4 ] }
        ],
        "bonus": 0
      }
    ]
  },
  "attack_bonus": 0
}