{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Longsword +1",
  "description": "A lightly-enchanted longsword.",
  "tags": [
    "metal",
    "weapon",
    "magic"
  ],
  "weight": 3,
  "cost": 500,
  "proficiency_tags": [
    "martial_melee",
    "longsword"
  ],
  "while_equipped": [

  ],
  "weapon_properties": [
    "melee",
    "versatile"
  ],
  "damage": {
    "melee": [
      {
        "damage_formula": "range",
        "damage_type": "slashing",
        "dice": [
          { "count": 1, "size": 8, "determined": [ 4 ] }
        ],
        "bonus": 1
      }
    ]
  },
  "attack_bonus": 1
}
