{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Plate Armor",
  "tags": [
    "armor",
    "heavy_armor",
    "plate_armor",
    "metal"
  ],
  "proficiency_tags": [
    "armor",
    "heavy_armor",
    "plate_armor"
  ],
  "weight": 65,
  "while_equipped": [ ],
  "base_armor_class": 18,
  "dex_bonus_max": 0,
  "cost": "1500g"
}