{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Shield",
  "tags": [
    "shield",
    "metal"
  ],
  "proficiency_tags": [
    "shield"
  ],
  "weight": 6,
  "while_equipped": [ ],
  "armor_class_bonus": 2,
  "cost": "10g"
}