{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Spear",
  "proficiency_tags": [
    "simple",
    "melee",
    "spear"
  ],
  "weapon_properties": [
    "simple",
    "spear",
    "thrown",
    "versatile"
  ],
  "range": {
    "normal": 20,
    "long": 60
  },
  "weight": 3,
  "cost": "1g",
  "while_equipped": [ ],
  "damage": {
    "melee": [
      {
        "type": "piercing",
        "dice": [
          {
            "size": 6,
            "determined": 4
          }
        ],
        "bonus": 0
      }
    ],
    "thrown": [
      {
        "type": "piercing",
        "dice": [
          {
            "size": 6,
            "determined": 4
          }
        ],
        "bonus": 0
      }
    ]
  },
  "attack_bonus": 0
}