{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Claw",
  "weapon_properties": [
    "natural"
  ],
  "while_equipped": [ ],
  "damage": {
    "melee": [
      {
        "type": "slashing",
        "dice": [
          { "count": 2, "size": 6, "determined": [ 3 ] }
        ],
        "bonus": 0
      }
    ]
  },
  "attack_bonus": 0
}