{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Skill Proficiency (Acrobatics)",
  "description": "You have proficiency in skill checks made using Acrobatics.",
  "subevent_filters": { }
}
