{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Fire Bolt",
  "resources": [ ],
  "area_of_effect": {
    "type": "single_target",
    "range": 120
  },
  "subevents": [
    {
      "subevent": "attack_roll",
      "save_ability": "dexterity",
      "spellcasting_ability": "intelligence",
      "damage": [
        {
          "count": 8,
          "size": 6,
          "type": "fire"
        }
      ],
      "damage_on_pass": "half"
    },
    {
      "subevent": "start_fires"
    }
  ]
}