{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Dummy Effect",
  "behavior": [
    {
      "conditions": [
        {
          "condition": "true"
        }
      ],
      "functions": [
        {
          "function": "dummy_function"
        }
      ]
    }
  ]
}