{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Hollow Dummy Object",
  "ability_scores": {
    "str": 7,
    "dex": 8,
    "con": 9,
    "int": 10,
    "wis": 11,
    "cha": 12
  },
  "health_data": {
    "hit_dice": [
      { "size": 6, "spent": false }
    ],
    "base": 3,
    "max": 3,
    "current": 3,
    "temporary": 0
  },
  "proficiency_bonus": 2,
  "effects": [ ],
  "items": {
    "inventory": [ ]
  }
}