{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Dummy Object",
  "ability_scores": {
    "str": 10,
    "dex": 10,
    "con": 10,
    "int": 10,
    "wis": 10,
    "cha": 10
  },
  "health_data": {
    "hit_dice": [
      { "size": 6, "spent": false }
    ],
    "base": 3,
    "max": 3,
    "current": 3,
    "temporary": 0
  },
  "proficiency_bonus": 2,
  "effects": [
    "dummy:dummy",
    "dummy:dummy"
  ],
  "items": {
    "mainhand": "dummy:dummy_hollow",
    "offhand": "dummy:dummy_hollow",
    "inventory": [
      "dummy:dummy_hollow",
      "dummy:dummy_hollow"
    ]
  }
}