{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Bonus Manager",
  "description": "The creature has advantage on the next attack roll it makes.",
  "subevent_filters": {
    "attack_roll": [
      {
        "conditions": [
          {
            "condition": "objects_match",
            "effect": "target",
            "subevent": "source"
          },
          {
            "condition": "subevent_has_tag",
            "tag": "grave_bolt"
          }
        ],
        "functions": [ ]
      }
    ],
    "damage_collection": [
      {
        "conditions": [
          {
            "condition": "objects_match",
            "effect": "target",
            "subevent": "source"
          },
          {
            "condition": "subevent_has_tag",
            "tag": "grave_bolt"
          },
          {
            "condition": "subevent_has_tag",
            "tag": "base_damage_collection"
          }
        ],
        "functions": [
          {
            "function": "add_damage",
            "damage": [
              {
                "damage_formula": "level",
                "damage_type": "necrotic",
                "class": "std:summon/summon_undead",
                "object": {
                  "from": "subevent",
                  "object": "source"
                }
              }
            ]
          }
        ]
      }
    ]
  }
}
