{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Hand 1 Attack",
  "area_of_effect": { },
  "subevents": [
    {
      "subevent": "attack_roll",
      "weapon": "hand_1",
      "attack_type": "melee",
      "determined": 19
    }
  ]
}