{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Fire Breath",
  "description": "The dragon breathes fire.",
  "area_of_effect": {

  },
  "subevents": [
    {
      "subevent": "saving_throw",
      "difficulty_class_ability": "con",
      "save_ability": "dex",
      "damage": [
        {
          "type": "fire",
          "dice": [
            { "count": 16, "size": 6, "determined": [ 3 ] }
          ],
          "bonus": 0
        }
      ],
      "damage_on_pass": "half",
      "determined": [ 1 ]
    }
  ]
}