{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Claw",
  "description": "The Young Red Dragon makes a melee natural weapon claw attack.",
  "area_of_effect": { },
  "subevents": [
    {
      "subevent": "attack_roll",
      "weapon": "demo:young_red_dragon_claw",
      "attack_type": "melee",
      "determined": [ 19 ]
    }
  ]
}
