{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Knight",
  "description": "A knight.",
  "tags": [
    "humanoid"
  ],
  "ability_scores": {
    "str": 16,
    "dex": 11,
    "con": 14,
    "int": 11,
    "wis": 11,
    "cha": 15
  },
  "health_data": {
    "hit_dice": [
      { "count": 8, "size": 8, "determined": [ 4 ] }
    ],
    "base": 36,
    "current": 52,
    "temporary": 0
  },
  "equipped_items": {
    "mainhand": "std:longsword",
    "offhand": "std:metal_shield",
    "armor": "std:plate_armor"
  },
  "inventory": [
    "std:heavy_crossbow"
  ],
  "events": [

  ],
  "effects": [

  ],
  "resources": [
    {
      "resource": "std:action",
      "count": 1,
      "potency": 1
    },
    {
      "resource": "std:bonus_action",
      "count": 1,
      "potency": 1
    }
  ],
  "proficiency_bonus": 2
}
