{
  "metadata": {
    "author": "Calvin Withun"
  },
  "name": "Young Red Dragon",
  "description": "A young red dragon.",
  "tags": [
    "dragon"
  ],
  "ability_scores": {
    "str": 23,
    "dex": 10,
    "con": 21,
    "int": 14,
    "wis": 11,
    "cha": 19
  },
  "health_data": {
    "hit_dice": [
      { "count": 17, "size": 10, "determined": [ 5 ] }
    ],
    "base": 93,
    "current": 178,
    "temporary": 0
  },
  "equipped_items": { },
  "inventory": [ ],
  "events": [
    "std:young_red_dragon_fire_breath"
  ],
  "effects": [
    "std:fire_immunity"
  ],
  "resources": [
    {
      "resource": "std:action",
      "count": 1,
      "potency": 1
    },
    {
      "resource": "std:young_red_dragon_breath_charge",
      "count": 1,
      "potency": 1
    }
  ],
  "proficiency_bonus": 4,
  "challenge_rating": 10
}
